<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.google.ar.lens" />
    </queries>

    <application
        android:name=".WateriaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />
        </provider>

        <receiver
            android:name=".notifications.ReminderActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wateria.action.WATER_PLANT" />
                <action android:name="com.wateria.action.SNOOZE_REMINDER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.EditPlantActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".Activities.NewPlantActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <activity
            android:name=".Activities.SettingsActivity">
        </activity>

        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/SplashTheme"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
